    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
        color: #333;
        background-image: url("../img/fundo.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        
    }

    header{
        width: 100%;
        background-color: #1c1b20;
        
        padding: 10px 32px;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #menu{
        color: #bebebe;
        padding: 20px;
        margin: 20px;
        background-image: url("../img/bannerdo\ restaurante.jpg");
        border-radius: 10px;
    }

    .menu-estilo{
        
    }

    #sobre-nos{
        color: #bebebe;
        padding: 20px;
        margin: 20px;
        background-image: url("../img/a91b910a4e2ee8e5a1537b42c69698d1.png");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        border-radius: 10px;
    }

    #peca-online{
        color: #b3b3b3;
        padding: 20px;
        margin: 20px;
        background-image: url("../img/interior.png");
        border-radius: 10px;
    }

    .peca-estilo{
        color: whitesmoke;
        font-family: none;
    }

    .formulario{
        color: #333;
        
    }

    footer{
        padding: 20px;
        text-align: center;
        background-color: #1c1b20;

    }

    nav,
    section{
        padding: 20px;
        text-align: center;
    }
    .logo {
        width: 190px;
    }

    

    nav a,p {
        margin: 0 15px;
        text-decoration: none;
        color: #bebebe;
        font-weight: bold;
    }

    img {
        max-width: 150px;
        width: 40%;
        height: auto;
    }

    form {
        max-width: 600px;
        margin: 0 auto;
        text-align: left;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0 , 0 , 0.1);
    }

    label,
    input,
    select,
    textarea {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    input[type="submit"] {
        width: auto;
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
    }